body {
	font-family: sans-serif;
	background-color: #F0EBD8;
	color: #0D1321;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

h1 {
	color: #143642;
	padding-bottom: 20px;
}

.btn {
	height: 50px;
	margin: 10px 0px;
}

.btn-keypad {
	width: 80px;
}

.highlight {
	color: #0F8B8D;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.alert {
	margin: 20px;
}